adding packages

In [3]:
import pandas as pd
import numpy as np

reading in data

In [11]:
df = pd.read_csv('/Users/natalyanaser/Desktop/Louisville_Metro_KY_-_Library_Collection_Inventory_.csv')

previewing

In [12]:
print(df.shape)
df.head(5)

(1657555, 11)

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate,ObjectId
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,2022/07/01 04:00:00+00,1
1,1341361,McGraw-Hill's American idioms dictionary,"Spears, Richard A.",9.780071e+12,2007,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,2
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,3
3,1341362,McGraw-Hill's essential ESL grammar : a handbo...,"Lester, Mark.",9.780071e+12,2008,Book,ELL Collection,South Central,20.00,2022/07/01 04:00:00+00,4
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,2022/07/01 04:00:00+00,5

now to remove null values
first I'll see if there are any, and then I'll drop them.

In [18]:
null_values = df.isnull().sum()

print(null_values)

BibNum             0
Title              0
Author             0
ISBN               0
PublicationYear    0
ItemType           0
ItemCollection     0
ItemLocation       0
ItemPrice          0
ReportDate         0
ObjectId           0
dtype: int64

In [19]:
df_filled = df.fillna(0)

print(df_filled)

          BibNum                                              Title  \
0         707409  Jeff Immelt and the new GE way : innovation, t...
1        1341361           McGraw-Hill's American idioms dictionary
2         707411  Robin rescues dinner : 52 weeks of quick-fix m...
3        1341362  McGraw-Hill's essential ESL grammar : a handbo...
4         707411  Robin rescues dinner : 52 weeks of quick-fix m...
...          ...                                                ...
1657550  2527332     The afrominimalist's guide to living with less
1657551  2527332     The afrominimalist's guide to living with less
1657552  2527332     The afrominimalist's guide to living with less
1657553  2527332     The afrominimalist's guide to living with less
1657554  2520634  Abstract painting : the elements of visual lan...

                            Author          ISBN  PublicationYear ItemType  \
0              Magee, David, 1965-  9.780072e+12             2009     Book
1               Spears, Richard A.  9.780071e+12             2007     Book
2             Miller, Robin, 1964-  9.780307e+12             2009     Book
3                    Lester, Mark.  9.780071e+12             2008     Book
4             Miller, Robin, 1964-  9.780307e+12             2009     Book
...                            ...           ...              ...      ...
1657550           Platt, Christine  9.781982e+12             2022     Book
1657551           Platt, Christine  9.781982e+12             2022     Book
1657552           Platt, Christine  9.781982e+12             2022     Book
1657553           Platt, Christine  9.781982e+12             2022     Book
1657554  Davies, Jane (Ceramicist)  9.780693e+12             2017     Book

            ItemCollection             ItemLocation  ItemPrice  \
0        Adult Non-Fiction                     Main      25.95
1           ELL Collection            South Central      20.00
2        Adult Non-Fiction                Southwest      19.99
3           ELL Collection            South Central      20.00
4        Adult Non-Fiction                Southwest      19.99
...                    ...                      ...        ...
1657550  Adult Non-Fiction                     Main      10.02
1657551  Adult Non-Fiction                  Newburg      10.02
1657552  Adult Non-Fiction            South Central      10.02
1657553  Adult Non-Fiction                  Western      10.02
1657554  Adult Non-Fiction  Highlands - Shelby Park      24.95

                     ReportDate  ObjectId
0        2022/07/01 04:00:00+00         1
1        2022/07/01 04:00:00+00         2
2        2022/07/01 04:00:00+00         3
3        2022/07/01 04:00:00+00         4
4        2022/07/01 04:00:00+00         5
...                         ...       ...
1657550  2022/07/01 04:00:00+00   1657551
1657551  2022/07/01 04:00:00+00   1657552
1657552  2022/07/01 04:00:00+00   1657553
1657553  2022/07/01 04:00:00+00   1657554
1657554  2022/07/01 04:00:00+00   1657555

[1334840 rows x 11 columns]

Originally I dropped the null values. I tried to go back to to replace with zero. (df.dropna)

In [20]:
df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate',
       'ObjectId'],
      dtype='object')

In [24]:
column_types = df.dtypes
print(column_types)

BibNum               int64
Title               object
Author              object
ISBN               float64
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
ObjectId             int64
dtype: object

let's make ISBN a string instead of a float

In [27]:
df['ISBN'] = df['ISBN'].astype(str)

In [28]:
column_types = df.dtypes
print(column_types)

BibNum               int64
Title               object
Author              object
ISBN                object
PublicationYear      int64
ItemType            object
ItemCollection      object
ItemLocation        object
ItemPrice          float64
ReportDate          object
ObjectId             int64
dtype: object

and with this check, we see that it worked